<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4"
>

 <servlet>
   <servlet-name>PHP</servlet-name>
   <servlet-class>org.mortbay.servlet.CGI</servlet-class>
   <init-param>
        <param-name>commandPrefix</param-name>
        <param-value>/usr/bin/php-cgi-fix</param-value>
   </init-param>
   <init-param>
        <param-name>REDIRECT_STATUS</param-name>
        <param-value>CGI</param-value>
   </init-param>
   <init-param>
        <param-name>ignoreExitState</param-name>
        <param-value>true</param-value>
   </init-param>
   <!-- Path, other ENV_variables including ENV_SystemRoot, ENV_REDIRECT_STATUS on Windows -->
 </servlet>

 <servlet-mapping>
   <servlet-name>PHP</servlet-name>
   <url-pattern>*.php</url-pattern>
   <!-- Any other URL patterns that are needed by your app to be processed by PHP -->
 </servlet-mapping>

 <!-- If you want http://yourhost/yourapp to call yourapp/yourapp.php then make a welcome file -->
 <welcome-file-list>
   <welcome-file>index.php</welcome-file>
 </welcome-file-list>
</web-app>
