#t {
    position: fixed;
    top: 0;
    left: 0;
    height: 2em;
    width: 100%;
    padding: .5em 0;
    z-index: 100;
}
#t>.float-left, #t>.float-right { margin: 0 1em; }
#title { font-size: large; }
#wrapper {
    position: fixed;
    top: 3em;
    left: 0;
    width: 100%;
}
#b{
    width: 1000px;
    margin: auto;
}
#b>.float-left { width: 720px; }
#b>.float-right { width: 280px; }
#welcome { text-align: center; }
#welcome>span {
    margin: 10px 0;
    display: block;
}
#welcome>span>img { max-width: 720px; }
#menu { width: 100%; }
.float-left { float: left; }
.float-right { float: right; }
#menu-title { padding: 10px; }
#menu-content>div {
    width: 240px;
    margin: 0 auto;
}
.menu, .hide { display: none; }
.menu>div { margin: 1em auto; }
#event-list {
    width: 240px;
    height: 360px;
}
.ui-dialog { font-size: small !important; }
.ui-dialog-content>form>label, .ui-dialog-content>form>span, .ui-dialog-content>div>span {
    display: block;
    margin: .5em 0 0 0;
}
.ui-datepicker { font-size: small !important; }
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: small; }