#t {
    position: fixed;
    top: 0;
    left: 0;
    height: 2em;
    width: 100%;
    padding: .5em 0;
    z-index: 100;
}
#t>.float-left, #t>.float-right {
    margin: 0 1em;
}
#title {
    font-size: large;
}
#wrapper {
    position: fixed;
    top: 3em;
    left: 0;
    width: 100%;
}
#b{
    width: 1000px;
    margin: auto;
}
#b>.float-left, #welcome>img {
    width: 720px;
}
#b>.float-right {
    width: 280px;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}