<script type="text/javascript" src="/jqry/draggalist.js"></script>

<script type="text/javascript">
  var import_facebook = function() {
    alert('對不起，這個功能還沒有啟用唷>"<');
  }
  var import_google = function() {
    alert('對不起，這個功能還沒有啟用唷>"<');
  }
  var open_new_event_dialog = function(pos) {
    $('#edit-event-dialog input').each(function() { $(this).val(''); });
    $('#event-place').val(pos);
    $('#event-visibility input:radio').val(['public']);
    $('#edit-event-dialog').dialog('option', 'title', '新增行程').dialog('open');
  }
  var open_view_event_dialog = function(key) {
    var info = $('#map').get_info(key);
    var $dialog = $('#view-event-dialog');
    $dialog.html($.tmpl('<div><span>${name} @ ${place_name}</span><span>時間: ${time}</span><span>隱私: ${visibility}</span></div>',info));
    $dialog.val(key).dialog('open');
  }
  var open_edit_event_dialog = function(key) {
    var info = $('#map').get_info(key);
    var $dialog = $('#edit-event-dialog').dialog('option', 'title', '編輯行程');
    $('#event-key').val(key);
    $('#event-name').val(info.name);
    $('#event-time').val(info.time);
    $('#event-place').val(info.place);
    $('#event-place-name').val(info.place_name);
    $('#event-visibility input:radio').val([info.visibility]);
    $dialog.val(key).dialog('open');
  }
  $(document).ready(function() {
    $('#map').data('prompt', open_new_event_dialog);
    $('#datepicker').datepicker();
    $('#edit-event-button').button().click(open_new_event_dialog);
    $('#edit-event-dialog').dialog({
      autoOpen: false,
      buttons: {
        '確定': function() {
          $('#edit-event-form').trigger('submit');
          $(this).dialog('close');
        },
        '取消': function() {
          $(this).dialog('close');
        }
      },
      draggable: false,
      resizable: false,
      modal: true
    });
    $('input[type="text"]').each(function() {
      $(this).addClass('text ui-widget-content ui-corner-all');
    });
    $('#event-time').datetimepicker({
      dateFormat: 'yy/mm/dd',
      timeFormat: 'h:m',
      hourGrid: 6,
      minuteGrid: 10
    });
    $('#event-visibility').buttonset();
    $('#edit-event-form').submit(function() {
      var args = {
        'key': $('#event-key').val(),
        'name': $('#event-name').val(),
        'time': $('#event-time').val(),
        'place': $('#event-place').val().split(','),
        'place-name': $('#event-place-name').val(),
        'visibility': $('#event-visibility input:radio:checked').val()
      };
      $.ajax({
        url: '/event/edit',
        type: 'POST',
        data: args,
        success: function() {
            $('#map').mark({
              key: args.key,
              info: {
                name: args.name,
                place: args.place
              }
            });
        },
        error: function() { alert('失敗了，請稍候再試>"<'); }
      });
      return false;
    });
    $('#view-event-dialog').dialog({
      autoOpen: false,
      buttons: {
        '編輯': function() {
          open_edit_event_dialog($(this).val());
          $(this).dialog('close');
        },
        '刪除': function() {
          alert('尚未完工>"<');
        },
        '關閉': function() {
          $(this).dialog('close');
        }
      },
      draggable: false,
      resizable: false,
      modal: true
    });
    $('#event').draggalist({
      css: {
        width: '240px',
        height: '360px'
      },
      args: {
        title: '確認',
        text: '確定要刪除嗎?',
        textCancel: '否',
        textDelete: '是',
        onDelete: function() {
          var $this = $(this), args = { key: $this.attr('id') };
          $.ajax({
            url: '/event/delete',
            type: 'POST',
            data: args,
            success: function() {
              $('#map').unmark(args);
              $this.fadeOut().delay('fast').detach();
            },
            error: function() { alert('刪除失敗了，請稍候再試！'); }
          });
        }
      }
    });
    {% if error %}
    $('#error>.content').text('{{ error }}').fadeIn('fast').delay(1000).fadeOut('fast');
    {% endif %}
  });
</script>

<div class="ui-widget-header" style="padding: 10px;">行程</div>
<div class="menu-content-wrapper">
  <div id="error" class="ui-widget ui-state-error ui-corner-all" style="display: none;">
    <span class="ui-icon ui-icon-alert" style="float: right; margin-right: .5em;"></span>
    <span class="content"></span>
  </div>
  <div>
    <span id="edit-event-button">新增行程</span>
  </div>
  <div id="event">
    <div>
      {% for event in events %}
      <div id="{{ event.key }}">
        <h3>{{ event.title }}{% if event.place_name %} @ {{ event.place_name }}{% endif %}</h3>
        <span>{{ event.time }}</span>
      </div>
      <script type="text/javascript">
      $('#{{ event.key }}').click(function() {
        $('#map').set_info($(this).attr('id'), 'center');
      });
      
      {% if event.place %}
        $('#map').mark({
          key: '{{ event.key }}',
          color: 'orange',
          onClick: open_view_event_dialog,
          info: {
            name: '{{ event.title }}',
            time: '{{ event.time|date:"Y/m/d H:i" }}',
            place: [{{ event.place.lat }}, {{ event.place.lon }}],
            place_name: '{{ event.place_name }}',
            visibility: '{{ event.visibility }}'
          }
        });
      {% endif %}
      </script>
      {% endfor %}
    </div>
  </div>
  <div>
    <label for="datepicker">時間</label>
    <input type="text" id="datepicker" name="datepicker" class="text ui-widget-content ui-corner-all">
  </div>
</div>

<div id="edit-event-dialog">
  <form id="edit-event-form">
    <input type="text" name="event-key" id="event-key" style="display: none;">
    <label for="event-name">名稱</label>
    <input type="text" name="event-name" id="event-name">
    <label for="event-time">時間</label>
    <input type="text" name="event-time" id="event-time">
    <label for="event-place-name">地點</label>
    <input type="text" name="event-place-name" id="event-place-name">
    <input type="text" name="event-place" id="event-place" style="display: none;">
    <span id="event-visibility">
      <label for="public">公開</label>
      <input type="radio" name="event-visibility" id="public" value="public">
      <label for="private">隱藏</label>
      <input type="radio" name="event-visibility" id="private" value="private">
    </span>
  </form>
</div>
<div id="view-event-dialog" title="檢視行程"></div>

{% if events_empty %}
<div id="first-use-dialog" title="Hi">
  <span>第一次使用？</span>
</div>
<script type="text/javascript">
  $('#first-use-dialog').dialog({
    buttons: {
      "建立行程": function() {
        $(this).dialog('close');
        open_new_event_dialog();
      },
      "匯入Facebook行程": function() {
        import_facebook();
      },
      "匯入Google日曆": function() {
        import_google();
      }
    },
    closeOnEscape: false,
    draggable: false,
    resizable: false,
    modal: true,
    open: function(evt, ui) {
      $('.ui-dialog-titlebar-close', ui.dialog).hide();
    },
    width: '480px'
  });
</script>
{% else %}
<script type="text/javascript">
  $('#map').set_info('{{ events.0.key }}', 'center');
</script>
{% endif %}