#t {
    position: fixed;
    top: 0;
    left: 0;
    height: 2em;
    width: 100%;
    padding: .5em 0;
    z-index: 100;
}
#t>.float-left, #t>.float-right { margin: 0 1em; }
#t>.float-left>span { vertical-align: top; }
#title { font-size: large; }
#wrapper {
    position: fixed;
    top: 3em;
    left: 0;
    width: 100%;
}
#b{
    width: 1000px;
    margin: auto;
}
#b>.float-left { width: 720px; }
#b>.float-right { width: 280px; }
#welcome { text-align: center; }
#welcome>span {
    margin: 10px 0;
    display: block;
}
#welcome>span>img { max-width: 720px; }
#menu { width: 100%; }
.float-left { float: left; }
.float-right { float: right; }
#menu-title { padding: 10px; }
#menu-content>div {
    width: 240px;
    margin: 0 auto;
}
.menu, .hide { display: none; }
.menu>div { margin: 1em auto; }
#event-list {
    width: 240px;
    height: 360px;
}
.ui-dialog { font-size: small !important; }
.ui-dialog-content>form>label, .ui-dialog-content>form>span, .ui-dialog-content>div>span {
    display: block;
    margin: .5em 0 0 0;
}
.ui-datepicker { font-size: small !important; }
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: small; }
.tipsy { padding: 5px; font-size: small; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(/img/tipsy.gif); }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }
img { border: none; }
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(/img/overlay.png) repeat 0 0;}
#colorbox{}
#cboxTopLeft{width:21px; height:21px; background:url(/img/controls.png) no-repeat -100px 0;}
#cboxTopRight{width:21px; height:21px; background:url(/img/controls.png) no-repeat -129px 0;}
#cboxBottomLeft{width:21px; height:21px; background:url(/img/controls.png) no-repeat -100px -29px;}
#cboxBottomRight{width:21px; height:21px; background:url(/img/controls.png) no-repeat -129px -29px;}
#cboxMiddleLeft{width:21px; background:url(/img/controls.png) left top repeat-y;}
#cboxMiddleRight{width:21px; background:url(/img/controls.png) right top repeat-y;}
#cboxTopCenter{height:21px; background:url(/img/border.png) 0 0 repeat-x;}
#cboxBottomCenter{height:21px; background:url(/img/border.png) 0 -29px repeat-x;}
#cboxContent{background:#fff; overflow:hidden;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:28px;}
#cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
#cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
#cboxPrevious{position:absolute; bottom:0; left:0; background:url(/img/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxPrevious.hover{background-position:-75px -25px;}
#cboxNext{position:absolute; bottom:0; left:27px; background:url(/img/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxNext.hover{background-position:-50px -25px;}
#cboxLoadingOverlay{background:url(/img/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(/img/loading.gif) no-repeat center center;}
#cboxClose{position:absolute; bottom:0; right:0; background:url(/img/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
#cboxClose.hover{background-position:-25px -25px;}